body {
  font-family: Alice, sans-serif;
  background: url(/assets/bg-image.jpg);
  background-size: cover;
}

.text-color-primary {
  color: #291b1a;
}

.text-color-secondary {
  color: #573a37;
}

.text-color-on-bg {
  color: #f0e8c2;
}

.container {
  background-color: #f0e8c2;
  padding: 24px;
  width: 800px;
  margin: 48px auto;
  border-radius: 24px;
  box-sizing: border-box;
}

.container img {
  border-radius: 16px;
  width: 100%;
}

.credit {
  text-align: center;
}
